body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

form {
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #555;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 100px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form input {
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

form p {
    height: 10px;
}

form input[type=submit] {
    width: 30%;
    margin: 0;
    cursor: pointer;
}

.img-view {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}

.img-view img {
    width: 350px;
    height: 350px;
    margin: 20px;
    transition: .5s all;
    cursor: pointer;
}

.img-view img:hover {
    width: 370px;
    height: 370px;
}

.img-view .img111 {
    border: 5px solid red;
}

.img-view .img222 {
    border: 5px solid green;
}

